* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: inline-block;
    font-size: 12px;
    font-family: sans-serif;
    background: #3a6749;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
}

section {
    width: 60%;
    height: 100%;
    text-align: justify;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
}

.container img {
    margin-right: 200px;
    margin-left: 200px;
}

section,
aside {
    flex: 80;
    padding: 20px;
}
aside {
    flex-wrap: nowrap;
    flex-grow: 1;
}	
.publicidad{
    width: 50%;
    height: 50%;
}

.p {
    bottom: 10px;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 24px;
    font-weight: bolder;
    padding: 5px;
}

.pie {
    margin-top: 10px;
    bottom: 10px;
    width: 100%;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    font-weight: bolder;
    padding: 5px;
}

nav {
    margin-left: 600px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 720px;
    height: 50px;
    background-color: #148208;
    border-radius: 8px;
    font-size: 0;
    font-weight: bolder;

}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: sticky;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 140px;
}

a:nth-child(2) {
    width: 140px;
}

a:nth-child(3) {
    width: 140px;
}

a:nth-child(4) {
    width: 140px;
}

a:nth-child(5) {
    width: 140px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 140px;
    left: 0;
    background-color: #87a40c;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 140px;
    left: 140px;
    background-color: #dfd048;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 140px;
    left: 280px;
    background-color: #83e620b3;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 140px;
    left: 420px;
    background-color: #c1b321;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 160px;
    left: 560px;
    background-color: #d6ee23db;
}

h1,
h2 {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}

h5 {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash', cursive;
}

img {
    margin-top: 10px;
    height: 400px;
    width: 300px;
    border-style: solid;
    border-color: #87a40c;
}

#plantas {
    margin-top: 100px;
    width: 1200px;
    border-collapse: collapse;
}

.p-tabla {
    bottom: 10px;
    width: 100%;
    text-align: left;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}

td {
    margin: auto;
    padding-left: 100px;
}

table td:first-child {
    width: 200px;
}

textarea {
    resize: none;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #d7e599;
    color: #323232;
    font-variation-settings: initial;
}

form {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

label {
    font-size: 25px;
    text-shadow: 5px 5px 5px grey;
    display: block;
    text-align: left;
}


h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    margin: 0em;
}

.nombre {
    width: 300px;
    height: 30px;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    color: #323232;
    font-weight: bold;
    background-color: #d7e599;
}

.boton {
    height: 30px;
    font-family: 'Cherry Swash', cursive;
    font-size: 20px;
    font-weight: bold;
    background-color: #87a40c;
    color: #ffffff;
}